.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
}
img {
  max-width: 100%;
  width: 15rem;
  height: 25rem;
  border-radius: 1rem;
}
.card {
  text-align: center;
}
