<main class="container">
  <div class="card">
    <h1>{{ batman.name }}</h1>
    <img src="batman.jpeg" alt="image of batman" />
    <p><u>Affiliation:</u> {{ batman.affiliation }}</p>
  </div>
  <div class="card">
    <h1>{{ wonderWoman.name }}</h1>
    <img src="wonderWoman.jpeg" alt="image of wonder woman" />
    <p><u>Affiliation:</u> {{ wonderWoman.affiliation }}</p>
  </div>
  <div class="card">
    <h1>{{ joker.name }}</h1>
    <img src="joker.jpeg" alt="image of the joker" />
    <p><u>Affiliation:</u> {{ joker.affiliation }}</p>
  </div>
</main>

<router-outlet />
